<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m | %mdc %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <springProperty scope="context" name="app" source="spring.application.name"/>

    <springProfile name="dev || stdout">
        <appender name="appender1" class="ch.qos.logback.core.helpers.NOPAppender"/>
        <appender name="appender2" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="!(dev || stdout)">
        <appender name="appender1" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <appender name="appender2" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender"/>
    </springProfile>

    <logger name="uk.gov.justice.digital.hmpps.managerecallsapi" level="DEBUG"/>

    <logger name="uk.gov.justice.digital.hmpps" level="DEBUG"/>

    <logger name="org.springframework" level="INFO"/>

    <logger name="org.apache.catalina" level="INFO"/>

    <logger name="springfox" level="INFO"/>

    <logger name="com.microsoft.applicationinsights" additivity="false" level="INFO">
        <appender-ref ref="appender2"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="appender1"/>
        <appender-ref ref="appender2"/>
    </root>

</configuration>
